<html>
  <head>
    <title>Creating Blog Page - detail</title>
    <link rel="stylesheet" href="../public/assets/css/blogstyle.css" />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="left">
          <img src="../public/assets/images/logo.png" alt="left-logo" class="img-nav-left">

          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>

      </div>

      <div class="right">
          <a href="/contact">Contact Me</a>
      </div>
  </nav>


    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{blog.title}}</h1>
        <div class="author">{{blog.postAt}} | {{blog.author}}</div>
        <img src="../uploads/{{this.image}}" alt="detail" />
        <p>
          {{blog.content}}
        </p>
      </div>
    </div>
  </body>
</html>
